<section class="resources">
  <h1>Resources</h1>
  <ul class="resources_list">
    {{#each resources}}
    <li class="resource_item">
      <p class="inline_item">
        <span class="resource_title">{{this.title}}</span>
        <span>{{this.rating}}</span>
      </p>
      <form class="inline_item" action="/account/reviewform/" method="get">
        <button class="add_review_button" type="sumbit" name="resource" value="{{this.title}}">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </button>
      </form>
    </li>
    {{/each}}
  </ul>
</section>
