* {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

header {
  font-size: 1.8rem;
  font-weight: bold;
  height: 10vh;
  width: 100vw;
  background-color: #016064;
  color: white;
  padding-left: 10px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.centered{
  margin: 0 auto;
}

.greeting{
  font-size: 1.6rem;
  height: 60px;
  width: 250px;
  margin-top: 30px;
  text-align: center;
}

.register_message {
    height: 60px;
    width: 80vw;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 30px;
}


.input_field {
  display: block;
  width: 250px;
  margin-bottom: 20px;
  border-radius: 3px;
  height: 30px;
}

.btn_submit{
  width: 100px;
  display: block;
}

.prompt_message {
  width: 70vw;
  margin-top: 20px;
  text-align: center;
}

.register_link, .login_link {
  display: block;
}

.experience_fieldset {
  width: 180px;
  text-align: left;
  margin-bottom: 30px;
}

.experience_fieldset label {
  font-size: 1.2rem;
}

.aligned_right {
  float: right;
  padding-right: 10px;
  text-align: bottom;
}
