/*Global CSS styles*/
* {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

/*CSS styles for header*/

header {
  font-weight: bold;
  height: 10vh;
  width: 100vw;
  background-color: rgb(0, 128, 96);
  color: white;
  padding-left: 10px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.OCDB {
  font-size: 1.8rem;
  float: left;
  margin: auto;
  padding: auto;
}

.welcome_message {
  font-size: 1rem;
  float: right;
  margin: auto;
  padding: auto;
}

/*CSS styles for login and register pages*/

.container {
  width: 90vw;
  margin: 0 auto;
}

.centered{
  margin: 0 auto;
}

.greeting{
  font-size: 1.6rem;
  height: 60px;
  width: 250px;
  margin-top: 30px;
  text-align: center;
}

.register_message {
    height: 60px;
    width: 80vw;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 30px;
}

.input_field {
  display: block;
  width: 250px;
  margin-bottom: 20px;
  border-radius: 3px;
  height: 30px;
}

.btn_submit{
  width: 100px;
  display: block;
}

.prompt_message {
  width: 70vw;
  margin-top: 20px;
  text-align: center;
}

.register_link, .login_link {
  display: block;
}

.experience_fieldset {
  width: 180px;
  text-align: left;
  margin-bottom: 30px;
}

.radio_button_group {
  font-size: 1.2rem;
}

/*CSS styles for review form section*/
.review_section {
  padding-left: 10px;
}

.review_input {
  height: 30px;
  width: 60vw;
}

.review_textarea {
  height: 100px;
  width: 60vw;
}

.rating_fieldset {
  width: 60vw;
  text-align: left;
  margin-bottom: 30px;
}

.selected_resource {
  font-weight: bolder;
  margin-bottom: 30px;
}

.review_form_title {
  margin-bottom: 10px;
}

/*CSS rules for user account page*/

.recent_reviews {
  width: 45vw;
  float: left;
  list-style-type: none;
}

.resources {
  float: left;
  clear: both;
}

.resources_list {
  padding-left: 0px;
}

.resource_item {
  list-style-type: none;
}

.resource_title {
  font-weight: bold;
}

.my_reviews {
  width: 35vw;
  float: right;
  list-style-type: none;
}

.reviews_list {
  padding-left: 0px;
}

.review_item {
  list-style-type: none;
  padding-bottom: 12px;
}

.review_item p {
  margin: 5px;
}

.review_rating {
  color: rgb(0, 128, 96);
  font-weight: bold;
}

.review_stars {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_2x-8852bac7bd07ba976a42828c3641f6a896197566._V2_.png);
  width: 80px;
  height: 18px;
  /*position: relative;*/
  vertical-align: text-top;
  background-size: 400px 670px;
  /*background-repeat: no-repeat;*/
  display: inline-block;
}

.stars_5 {
  background-position: -5px -368px;
}

.stars_4 {
  background-position: -21px -368px;
}

.stars_3 {
  background-position: -37px -368px;
}

.stars_2 {
  background-position: -53px -368px;
}

.stars_1 {
  background-position: -69px -368px;
}

.review_username {
  color: rgb(48, 153, 212);
}

.inline_item {
  display: inline;
}

.add_review_button {
  background-color: white;
  cursor: pointer;
  border: none;
  margin: 0px;
}

.fa-plus-circle {
  font-size: 1.25rem;
  color: rgb(0, 128, 96);
}

.aligned_right {
  float: right;
  padding-right: 10px;
  text-align: bottom;
}
